@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

:root {
  /* ----- COLORS ----- */
  --color-primary-text: #000000;
  --color-secondary-text: #4AEA45;

  --color-filled-button-bg: #000000;
  --color-filled-button-text: #ffffff;

  --color-outline-button-border: #000000;
  --color-outline-button-text: #000000;

  --background: #ffffff;
  --foreground: #000000;

  /* ----- TYPOGRAPHY ----- */
  --font-small-header: "Protest Revolution", cursive;
  --font-big-header: "Poppins", sans-serif;
  --font-section-header: "Prata", serif;

  /* Font Sizes */
  --text-small-header: 20px;
  --text-big-header: 80px;
  --text-section-header: 80px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-small-header: var(--font-small-header);
  --font-big-header: var(--font-big-header);
  --font-section-header: var(--font-section-header);

  --color-primary-text: var(--color-primary-text);
  --color-secondary-text: var(--color-secondary-text);
  --color-filled-button-bg: var(--color-filled-button-bg);
  --color-outline-button-border: var(--color-outline-button-border);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.small-header {
  font-family: var(--font-small-header);
  font-size: var(--text-small-header);
  color: var(--color-primary-text);
}

.small-header-main {
  font-family: var(--font-small-header);
  font-size: var(--text-section-header);
  color: var(--color-secondary-text);
}

.big-header {
  font-family: var(--font-big-header);
  font-size: var(--text-big-header);
  color: var(--color-primary-text);
}

.section-header {
  font-family: var(--font-section-header);
  font-size: var(--text-section-header);
  color: var(--color-secondary-text);
}

.section-header-main {
  font-family: var(--font-section-header);
  font-size: var(--text-section-header);
  color: var(--color-primary-text);
}

.btn-filled {
  background-color: var(--color-filled-button-bg);
  color: var(--color-filled-button-text);
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-filled:hover {
  background: transparent;
  border: 2px solid var(--color-filled-button-bg);
  color: var(--color-outline-button-text);

}

.btn-outline {
  border: 2px solid var(--color-outline-button-border);
  color: var(--color-outline-button-text);
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background: var(--color-outline-button-border);
  color: var(--color-filled-button-text);
}

::selection{
  background: #4AEA45;
}


.splash-screen {
  z-index: 9999;
  background: linear-gradient(135deg, #059669 0%, #047857 50%, #065f46 100%);
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  inset: 0;
}